---
- block:

  - name: Delete outdated files
    file:
      path: '{{ item }}'
      state: absent
    loop:
      - /etc/pacman.d/ichi-private.conf
      - /etc/pacman.d/ichi-private.netrc
      - /etc/pacman.d/ichi-public.conf

  - name: 'Install /etc/pacman.d/null.conf'
    copy:
      src: 'etc_pacman.d/null.conf'
      dest: /etc/pacman.d/

  - name: Install /etc/pacman.conf
    template:
      src: pacman.conf
      dest: /etc/pacman.conf
    notify: Sync all repositories

  # If pacman is configured to use a repository but has never synced it, then
  # commands like `pacman -S foo` will fail. This is true even when "foo" comes
  # from a repository that pacman has already synced.
  - meta: flush_handlers

  - name: Install reflector
    pacman:
      name: reflector

  # Try executing `systemctl list-unit-files | grep update`. You'll find that
  # units named verb-noun are atypical, and units named noun-verb are typical.
  - name: Delete old mirrorlist units
    file:
      path: /etc/systemd/system/update-mirrorlist.{{ item }}
      state: absent
    loop:
      - timer
      - service
    register: result

  - name: Reload systemd
    systemd:
      daemon_reload: true
    when: result is changed

  - name: Install units
    copy:
      src: etc_systemd_system/
      dest: /etc/systemd/system/

  - name: Start and enable timers
    systemd:
      name: '{{ item }}'
      state: started
      enabled: true
      daemon_reload: true
    loop:
      - mirrorlist-update.timer
      - pacman-file-update.timer

  - name: Install pacman-contrib (for paccache)
    pacman:
      name: pacman-contrib

  - name: Start and enable timer to clean the package cache
    systemd:
      name: paccache.timer
      state: started
      enabled: true
      daemon_reload: true

  become: true
