[Unit]
Description=Update Pacman's file database
# Use Wants instead of Requires in case network-online.target isn't correctly
# configured.
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Fy

# vim:set ft=systemd:
