[Unit]
Description=Periodically update Pacman's file database

# We add a RandomizedDelaySec to be nicer to mirrors.
[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target

# vim:set ft=systemd:
