---
- block:

  - name: Create ~/.ssh/ subdirectories
    file:
      path: '{{ user_ichimonji10_home }}/.ssh/{{ item }}'
      state: directory
      mode: 0700
    loop:
      - includes
      - keys

  - name: Install ~/.ssh/authorized_keys (public key)
    copy:
      dest: '{{ user_ichimonji10_home }}/.ssh/authorized_keys'
      content: '{{ ssh_keypairs[inventory_hostname]["ichimonji10"]["public"] }}'
      mode: 0600
    when: "'servers' in group_names"

  - name: Install ~/.ssh/keys/* (private keys)
    copy:
      dest: '{{ user_ichimonji10_home }}/.ssh/keys/{{ item }}'
      content: '{{ ssh_keypairs[item]["ichimonji10"]["private"] }}'
      mode: 0600
    loop:
      - amelanchier.jerebear.name
      - aronia.jerebear.name
      - pine.jerebear.name
    when: "'workstations' in group_names"

  - name: Install ~/.ssh/config
    copy:
      src: config
      dest: '{{ user_ichimonji10_home }}/.ssh/'
      mode: 0600
    when: "'workstations' in group_names"

  - name: Install ~/.ssh/includes/*
    copy:
      src: ssh_includes/
      dest: '{{ user_ichimonji10_home }}/.ssh/includes/'
      mode: 0600
    when: "'workstations' in group_names"

  become: true
  become_user: ichimonji10
