---
- block:

  - name: Install system applications
    dnf:
      name:
        - ShellCheck
        - ansible
        - cmark
        - ctags
        - docker-compose
        - entr
        - fuse-sshfs
        - git-crypt
        - gnome-tweaks
        - graphviz
        - iperf3
        - lshw
        - maven
        - pre-commit
        - pylint
        - python3-docutils  # for rst2html
        - python3-mypy
        - python3-passlib  # for ansible's htpasswd module
        - python3-pygments  # for rst2html syntax highlighting
        - python3-sphinx
        - python3-tmuxp
        - tmate
        - vim
        - virt-manager
        - wl-clipboard

        # For compiling packages from source, needed by iqe-* packages.
        - krb5-devel
        - libpq-devel
        - python3-devel

  - name: Add flathub as a remote
    community.general.flatpak_remote:
      name: flathub
      state: present
      flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo

  - name: Install flatpak applications
    flatpak:
      name: '{{ item }}'
      state: present
    loop:
      - com.calibre_ebook.calibre
      - com.discordapp.Discord
      - com.slack.Slack
      - com.valvesoftware.Steam
      - com.visualstudio.code
      - org.gimp.GIMP
      - org.musicbrainz.Picard
      - org.signal.Signal

  become: true
