---
- block:

    - name: Delete override file for docker.service
      file:
        path: /etc/systemd/system/docker.service.d/
        state: absent

    - name: Install docker
      pacman:
        name: docker

    - name: Install docker configuration file
      copy:
        src: daemon.json
        dest: /etc/docker/
      notify: Restart docker

    - name: Start and enable dockerd
      systemd:
        name: docker.service
        enabled: true

  become: true
