---
version: '3.8'

services:
  ddns:
    image: jaudet/ddns
    build: ddns
    secrets:
      - source: update-ddns.sh
        target: /usr/local/bin/update-ddns.sh
  nginx:
    image: jaudet/nginx
    build: nginx
    ports:
      - '80:80'
      - '443:443'
    secrets:
      - source: www.backtobasicsreading.com.key
        target: /etc/nginx/ssl/www.backtobasicsreading.com.key
      - source: www.jerebear.name.key
        target: /etc/nginx/ssl/www.jerebear.name.key

secrets:
  update-ddns.sh:
    file: ddns/update-ddns.sh
  www.backtobasicsreading.com.key:
    file: nginx/ssl-keys/www.backtobasicsreading.com.key
  www.jerebear.name.key:
    file: nginx/ssl-keys/www.jerebear.name.key
