---
version: '3.8'

services:
  web:
    image: jaudet/my-nginx
    build: my-nginx
    ports:
      - '80:80'
      - '443:443'
    secrets:
      - source: www.backtobasicsreading.com.key
        target: /etc/nginx/ssl/www.backtobasicsreading.com.key
      - source: www.jerebear.name.key
        target: /etc/nginx/ssl/www.jerebear.name.key

secrets:
  www.backtobasicsreading.com.key:
    file: my-nginx/ssl-keys/www.backtobasicsreading.com.key
  www.jerebear.name.key:
    file: my-nginx/ssl-keys/www.jerebear.name.key
