---
version: '3.8'

services:
  ddns:
    image: jaudet/ddns
    build: ddns
    restart: unless-stopped
    secrets:
      - source: update-ddns.sh
        target: /usr/local/bin/update-ddns.sh

  nginx:
    image: jaudet/nginx
    build: nginx
    # So that upstream declarations will work.
    depends_on:
      - funkwhale-api
      - transmission
    networks:
      - funkwhale
      - transmission
    ports:
      - '80:80'
      - '443:443'
    restart: unless-stopped
    secrets:
      - source: www.backtobasicsreading.com.key
        target: /etc/nginx/ssl/www.backtobasicsreading.com.key
      - source: funkwhale.jerebear.name.key
        target: /etc/nginx/ssl/funkwhale.jerebear.name.key
      - source: transmission.jerebear.name.htpasswd
        target: /etc/nginx/transmission.jerebear.name.htpasswd
      - source: transmission.jerebear.name.key
        target: /etc/nginx/ssl/transmission.jerebear.name.key
      - source: www.jerebear.name.key
        target: /etc/nginx/ssl/www.jerebear.name.key
    volumes:
      - &funkwhale_volume_frontend
        type: volume
        source: funkwhale-frontend
        target: /frontend
        read_only: true
      # Mounted at MEDIA_ROOT (see funkwhale.env) for copy imports.
      - &funkwhale_volume_media_root
        type: volume
        source: funkwhale-srv-funkwhale-data-media
        target: /srv/funkwhale/data/media
        read_only: true
      # Mounted beneath MUSIC_DIRECTORY_PATH (see funkwhale.env) for in-place import.
      - &funkwhale_volume_music_directory_path_audiobooks
        type: bind
        source: /home/ichimonji10/Audiobooks
        target: /srv/funkwhale/data/music/Audiobooks
        read_only: true
      # Mounted beneath MUSIC_DIRECTORY_PATH (see funkwhale.env) for in-place import.
      - &funkwhale_volume_music_directory_path_music
        type: bind
        source: /home/ichimonji10/Music
        target: /srv/funkwhale/data/music/Music
        read_only: true
      - &funkwhale_volume_static_root
        type: volume
        source: funkwhale-srv-funkwhale-data-static
        target: /srv/funkwhale/data/static
        read_only: true
      - type: volume
        source: transmission-srv-torrents
        target: /srv/torrents
        read_only: true

  transmission:
    environment:
      - TZ=America/New_York  # image readme recommends setting this
    image: ghcr.io/linuxserver/transmission
    networks:
      - transmission
    ports:
      - '51413:51413'  # transmission
    restart: unless-stopped
    volumes:
      - type: volume
        source: transmission-config
        target: /config
      - type: volume
        source: transmission-srv-torrents
        target: /downloads
        read_only: false

  funkwhale-api:
    depends_on:
      - funkwhale-pg
      - funkwhale-redis
    env_file:
      - &public_funkwhale_env_file ./nginx/other-public/funkwhale.env
      - &private_funkwhale_env_file ./nginx/other-private/funkwhale.env
    image: &funkwhale-image funkwhale/funkwhale:1.1
    networks:
      - funkwhale
    ports:
      - target: '5000'
    restart: unless-stopped
    volumes:
      - <<: *funkwhale_volume_frontend
        read_only: false
      - <<: *funkwhale_volume_media_root
        read_only: false
      - *funkwhale_volume_music_directory_path_audiobooks
      - *funkwhale_volume_music_directory_path_music
      - <<: *funkwhale_volume_static_root
        read_only: false

  funkwhale-celerybeat:
    command: ['celery', '-A', 'funkwhale_api.taskapp', 'beat', '--pidfile=', '-l', 'INFO']
    depends_on:
      - funkwhale-pg
      - funkwhale-redis
    env_file:
      - *public_funkwhale_env_file
      - *private_funkwhale_env_file
    image: *funkwhale-image
    networks:
      - funkwhale
    restart: unless-stopped

  funkwhale-celeryworker:
    command: ['celery', '-A', 'funkwhale_api.taskapp', 'worker', '-l', 'INFO']
    depends_on:
      - funkwhale-pg
      - funkwhale-redis
    env_file:
      - *public_funkwhale_env_file
      - *private_funkwhale_env_file
    environment:
      - 'C_FORCE_ROOT=true'
    image: *funkwhale-image
    networks:
      - funkwhale
    restart: unless-stopped
    volumes:
      - <<: *funkwhale_volume_media_root
        read_only: false
      - *funkwhale_volume_music_directory_path_audiobooks
      - *funkwhale_volume_music_directory_path_music

  funkwhale-pg:
    environment:
      - 'POSTGRES_HOST_AUTH_METHOD=trust'
    image: postgres:11
    networks:
      - funkwhale
    restart: unless-stopped
    volumes:
      - type: volume
        source: funkwhale-var-lib-postgresql-data
        target: /var/lib/postgresql/data
        read_only: false

  funkwhale-redis:
    image: redis:5
    networks:
      - funkwhale
    restart: unless-stopped
    volumes:
      - type: volume
        source: funkwhale-data
        target: /data
        read_only: false

networks:
  funkwhale:
  transmission:

secrets:
  update-ddns.sh:
    file: ddns/copy-private/update-ddns.sh
  www.backtobasicsreading.com.key:
    file: nginx/copy-private/etc-nginx-ssl/www.backtobasicsreading.com.key
  funkwhale.jerebear.name.key:
    file: nginx/copy-private/etc-nginx-ssl/funkwhale.jerebear.name.key
  transmission.jerebear.name.htpasswd:
    file: nginx/copy-private/etc-nginx/transmission.jerebear.name.htpasswd
  transmission.jerebear.name.key:
    file: nginx/copy-private/etc-nginx-ssl/transmission.jerebear.name.key
  www.jerebear.name.key:
    file: nginx/copy-private/etc-nginx-ssl/www.jerebear.name.key

volumes:
  funkwhale-data:
  funkwhale-frontend:
  funkwhale-srv-funkwhale-data-media:
  funkwhale-srv-funkwhale-data-static:
  funkwhale-var-lib-postgresql-data:
  transmission-config:  # persistent data, like settings file, torrent list, and block list
  transmission-srv-torrents:
