[Unit]
Description=Watch and automatically rebuild a Sphinx doctree
AssertPathExists={{ user_ichimonji10_home }}/Documents/build
AssertPathExists={{ user_ichimonji10_home }}/Documents/source

[Service]
Type=simple
WorkingDirectory={{ user_ichimonji10_home }}/Documents
ExecStart=/usr/bin/bash -c 'find source -type f | entr -nd make html'
NoNewPrivileges=true

# From entr(1), an exit code of 2 means: A file was added to a directory and the
# directory watch option was specified
SuccessExitStatus=2
RestartForceExitStatus=2

[Install]
WantedBy=default.target

# vim:set ft=systemd:
