---
# workstations & servers ###########################################################################

- hosts: workstations
  roles:
    - borg_backup_users
    - net_nm
    - workstation

- hosts: servers
  roles:
    - net_sd  # could use net_nm, for sake of homogeneity?
    - sshd

# other ############################################################################################

- hosts: all
  roles:
    - essential_apps
    - lm_sensors
    - nft
    - smartd
    - syncthing
    - user_ichimonji10

- hosts: apc_hosts
  roles:
    - apcupsd

- hosts: vm_hosts
  roles:
    - dockerd
    - libvirtd
