---
- hosts: all
  roles:
    # - nft
    # - smartd
    - docker
    - lm_sensors
    - syncthing
    - user_jaudet

- hosts: apc_hosts
  roles:
    - apcupsd

- hosts: servers
  roles:
    - sshd

- hosts: workstations
  roles:
    - borg_backup_users
    - minikube
    - ssh
    - workstation
