---
- hosts: all
  roles:
    - dockerd
    - libvirtd
    - lm_sensors
    - nft
    - smartd
    - syncthing
    - user_ichimonji10

- hosts: apc_hosts
  roles:
    - apcupsd

- hosts: servers
  roles:
    - sshd

- hosts: workstations
  roles:
    - borg_backup_users
    - workstation
